html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    width: 100%;
    top: 25px;
    left: 0;
    right: 0;

    background-color: transparent;

    z-index: 777777;
    #Student{
        display: flex;
        justify-content: flex-end;
        li {
            margin-right: 25px;
            a {
                position: relative;
                font-family: $firstFamily;
                font-size: 24px;
                font-weight: 600;
                color: white;
                &::before {
                    @include NavbarBefore;
                }

                &:hover::before {
                    width: 100%;
                }
            }

            .active {
                &::before {
                    @include ActiveNavBefore;
                }
            }
        }
    }

    .navitem {
        background-color: transparent;
        ul {
            @include FlexCenter(flex-end, center, none);
            li {
                margin-right: 45px;
                a {
                    position: relative;
                    font-family: $firstFamily;
                    font-size: 24px;
                    font-weight: 600;
                    color: white;
                    &::before {
                        @include NavbarBefore;
                    }

                    &:hover::before {
                        width: 100%;
                    }
                }

                .active {
                    &::before {
                        @include ActiveNavBefore;
                    }
                }
            }
        }
    }
}
.SlickNav {
    background-color: white;

    top: 0;
    left: 0;
    right: 0;
    position: sticky;
    z-index: 66666;
    padding: 20px 0px;
    ul {
        li {
            a {
                color: black !important;
                font-size: 18px;
            }
        }
    }
}


