#OurSteller {
    padding: 40px 0px;
    font-family: $firstFamily;
    h1 {
        font-size: $h1FontSize;

        font-weight: 600;
        line-height: 1em;
        padding: 20px 0px;
        @media (max-width:576px) {
            font-size: 43px;
        }
    }
    form {
        input {
            width: 33%;
            padding: 7px 0px;
            margin: 20px 0px;
            border: none;
            border-bottom: 3px solid black;

        }
        button{
          
            width: 100px;
         
            @include Button
        }
    }
}
