.SlugWrap {
    .BreadcrumbWrap {
        background-color: #f6f6f6;
        padding         : 40px 0px;

        .WrapBreadCrumb {
            display        : flex;
            align-items    : center;
            justify-content: space-between;

            .ActivePageAdress {
                width      : 100%;
                font-size  : 30px;
                line-height: 1.067em;
                font-weight: 600;
                display    : block;
            }

            .breadcrumb {
                display        : flex;
                justify-content: end;
                width          : 100% !important;

                .breadcrumb-item {
                    color      : #000;
                    font-size  : 17px;
                    font-weight: 300;

                    a {
                        color: #000;

                    }
                }
            }

            .navs {
                padding: 0 !important;
                margin : 0 !important;
            }
        }
    }


    .CarouselWrap {
        padding: 100px 0 35px 0;

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            font-family     : "Font Awesome 5 Free";
            background-image: none;
            display         : flex;
            align-items     : center;
            justify-content : center;
            font-weight     : 900;
            font-size       : 30px;
            line-height     : 1;
            color           : #000;
        }

        .carousel-control-next-icon:after {
            content: '\f105';
        }

        .carousel-control-prev-icon:after {
            content: '\f104';
        }

    }

    .ProjectAboutWrap {
        padding: 100px 0 0 0;

        @media(max-width:991.9px) {
            padding: 10px 0px;
        }

        .ProjectContent {
            h2 {
                font-size  : 50px;
                line-height: 1.06em;
                font-weight: 600;

                @media(max-width:991.9px) {
                    font-size: 45px;
                }
            }

            span {
                display         : block;
                margin          : 17px 0;
                width           : 66px;
                height          : 4px;
                background-color: #000;
            }

            p {
                font-size     : 17px;
                line-height   : 1.52em;
                font-weight   : 400;
                color         : #000;
                letter-spacing: 1px;
            }
        }

        .ProjectDetail {
            h4 {
                text-transform: uppercase;
                color         : #000;
                font-size     : 20px;
                font-weight   : 700;
                margin        : 0;
                letter-spacing: 1px;
            }

            p {
                a {
                    font-size  : 17px;
                    line-height: 1.52em;
                    font-weight: 400;
                    color      : #000;

                }

                padding: 0px !important;
                margin: 4px !important;
            }

            button {
                width : 100px;
                margin: 20px 0px 0px 0px;

                @include Button
            }

        }

    }



}

.InputWrapper {
    margin: 20px 0 50px 0;

    .form {
        display       : flex;
        flex-direction: column;

        &:focus-visible {
            outline: none !important;
        }

        input {
            width        : 100%;
            padding      : 7px 0px;
            margin       : 20px 0px;
            border       : none;
            border-bottom: 3px solid black;
        }

        .textarea {
            border          : 1px solid #ebebeb;
            background-color: #f6f6f6;
            font-size       : 15px;
            margin          : 15px 0 20px;
            padding         : 16px 23px;
            height          : 100px;
            resize          : none;
        }

        button {
            width : 100px;
            margin: 20px 0px 0px 0px;
            @include Button
        }
    }
}
button.carousel__button.fancybox__button--close,
button.carousel__button.fancybox__button--slideshow,
button.carousel__button.fancybox__button--zoom,
.fancybox__toolbar__items.fancybox__toolbar__items--left,
.fancybox__thumbs,
button.carousel__button.fancybox__button--thumbs,
button.carousel__button.is-prev,
button.carousel__button.is-next,
button.carousel__button.fancybox__button--fullscreen {
    display: none;
}