@import "Varaibele";
@import "Mixim";
@import "Pages/home/Nav";
@import "Pages/home/header";
@import "Pages/home/SocialCart";
@import "Pages/home/AmazingApp";
@import "Pages/home/MainFrame";
@import "Pages/home/FindOut";
@import "Pages/home/BlogPost";
@import "Pages/home/Counter";
@import "Pages/home/DesignedWithStyle";
@import 'Pages/home/TeamMember';
@import "Pages/home/SuperBrands";
@import "Pages/home/CreativeTeam";
@import "Pages/home/Pattern";
@import "Pages/home/Clients";
@import "Pages/home/SliderItem";
@import "Pages/home/footer";
@import "Pages/home/GridImages";
@import "Pages/home/skills";

//  ______ Ourteam SCSS ______ 
@import "Pages/ourteam/ourteam";

//  ______ WhatWeDo SCSS ______ 
@import "Pages/whatwedo/whatwedo";

//  ______ Blog SCSS ______ 
@import "Pages/blog/blog";

//  ______ BlogDatail SCSS ______ 
@import "Pages/blogDetail/blogDetail";


//  ______ Lesson SCSS ______ 
@import "Pages/lesson/lesson";

//  ______ LessonDetail SCSS ______ 
@import "Pages/lessonDetail/lessonDetail";


// ______ Contact SCSS ______ 
@import "Pages/contact/contact";


#back-to-top {
    background-color: #171717;
    bottom          : 20px;
    color           : #fff;
    display         : none;
    font-size       : 15px;
    height          : 20px;
    line-height     : 20px;
    position        : fixed;
    right           : 20px;
    text-align      : center;
    width           : 20px;
    cursor          : pointer;
    z-index         : 99;
}

main {
    overflow-x: hidden;
}

body {
    overflow-x: hidden !important;
}